---
title: Home Page
layout: layouts/base.njk
---

<div class="cards">
    <p style='font-size: 13.33px; font-weight: bold;margin-bottom:10px;'>Title</p>
    <div class='card__wrapper'>
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
    </div>
</div>
<div class="cards">
    <p style='font-size: 13.33px; font-weight: bold;margin-bottom:10px;'>Title</p>
    <div class='card__wrapper'>
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
    </div>
</div>
<div class="cards">
    <p style='font-size: 13.33px; font-weight: bold;margin-bottom:10px;'>Title</p>
    <div class='card__wrapper'>
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
        {% include "./thumbnail.html" %}
    </div>
</div>
{% include "./responsive-cards.html" %}